:root{
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
}
.card{
    background-color: var(--white);
    width: 600px;
    border-radius: 1rem 1rem 10rem 1rem;
    margin: 1rem 2rem;
}
.container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}
.form-container{
    display: flex;
    gap: 2rem;
}
.block{
    display: flex;
    flex-direction: column;
}
.block label{
    text-transform: uppercase;
    font-weight: 600;
}
input{
    width: 100px;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--light-grey);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
input::placeholder{
    font-size: 1.5rem;
    font-weight: 800;
}
input:hover{
    border-color: var(--purple);
}

.submit-block{
    display: flex;
    align-items: center;
}
.submit-block hr{
    width: 100%;
}
.submit-block .submit-btn{
    border-radius: 50%;
    padding: 1rem;
    background-color: var(--purple);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-btn:hover{
    background-color: var(--off-black);
}

.output h1{
    font-size: 3.5rem;
    font-weight: 800;
    font-style: italic;
    height: fit-content;
}
.output span{
    color: var(--purple);
}
small{
    color: red;
}

@media screen and (max-width:600px) {
    
    .form-container{
        margin-bottom: 4rem;
        justify-content: space-between;
    }
    .submit-block{
        position: relative;
    }
    .submit-btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .output{
        margin-top: 4rem;
    }
}